.App {
  text-align: center;
}
.Navbar-container{
  display: flex;
  justify-content: space-around;
  padding: 3%;
  align-items: center;
}
.Gif-conatiner {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}


.Loading-gif{
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type=text] {
  background-color: white;
  padding-left: 40px;
  height: 6vh;
  border-radius: 6px;
  width: 30%;
}

button {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  text-align: center;
  text-decoration: none;
  font-family: system-ui;
    width: 8%;
    height: 3vh;
  cursor: pointer;
  font-size: 0.5em
}

